@page "/{CurrentProject}"
@inject HttpClient Http

<div class="HeadPort">
<img src=" @Data.ProjectImage " />
<h1>@Data.ProjectName </h1>
</div>
  <p>@((MarkupString)Data.PageContent) @Data.ProjectDescription @Data.ProjectLink@Data.ProjectName</p>


@code {
  [Parameter] public string? CurrentProject { get; set; }
  [Parameter] public ProjectData Data { get; set; } = new ProjectData();

  protected override async Task OnInitializedAsync()
  {
    Data = await Http.GetFromJsonAsync<ProjectData>($"json/{CurrentProject}.json");
  }
}
